/open_c/config.h
/win32/config.h
/man/

/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1

Doxyfile
Makefile
Makefile.in
TAGS
.deps
.libs
*.a
*.la
*.lo
*.o
*_tag_ref.c
