/bnf/torture_bnf
/features/sofia-sip/sofia_features.h
/http/http_parser_table.c
/http/http_tag.c
/http/sofia-sip/http_protos.h
/http/sofia-sip/http_tag.h
/http/test_http
/ipt/torture_base64
/iptsec/test_auth_digest
/msg/msg_mime_table.c
/msg/msg_name_hash
/msg/sofia-sip/msg_mime_protos.h
/msg/sofia-sip/msg_protos.h
/msg/test_msg
/msg/test_protos.h
/msg/test_table.c
/nta/check_nta
/nta/portbind
/nta/test_nta
/nta/test_nta_api
/nth/http-client
/nth/http-server
/nth/test_nth
/nth/tmp_sippasswd.*
/nua/check_nua
/sdp/test_sdp
/sdp/torture_sdp
/sip/sip_parser_table.c
/sip/sip_tag.c
/sip/sofia-sip/sip_extra.h
/sip/sofia-sip/sip_hclasses.h
/sip/sofia-sip/sip_protos.h
/sip/sofia-sip/sip_tag.h
/sip/test_date
/sip/test_sip_msg
/sip/torture_sip
/sip/validator
/soa/test_soa
/sresolv/check_sres_sip
/sresolv/named.run
/sresolv/test_sresolv
/sresolv/torture_sresolv
/stun/lookup_stun_server
/stun/stunc
/su/addrinfo
/su/localinfo
/su/sofia-sip/stamp-h2
/su/sofia-sip/su_configure.h
/su/su_proxy
/su/test_htable
/su/test_htable2
/su/test_memmem
/su/test_poll
/su/test_su
/su/torture_heap
/su/torture_rbtree
/su/torture_su
/su/torture_su_alloc
/su/torture_su_bm
/su/torture_su_port
/su/torture_su_root
/su/torture_su_tag
/su/torture_su_time
/su/torture_su_timer
/tport/test_tport
/url/torture_url
